html,body{height: 100%;}
.mui-content{background: transparent;}
body{position: relative; min-height: 100%; height: auto!important; height:100%;}
.eui-bodyBg{background: url(../images/bg1.png?lxhcVersion=1.0) no-repeat fixed top; background-size: 100% 100%; padding-bottom: 2.6rem;}
/* 内容 */
.eui-tip{padding: 0.3rem 0.42rem 0.3rem 1.2rem; font-size: 0.32rem; color: #fff; line-height: 0.45rem; background: url(../images/icon4.png?lxhcVersion=1.0) no-repeat 0.42rem; background-size: 0.52rem;}
.eui-idCard{position: relative; margin: 0 0.3rem; height: 3.41rem; padding: 0.3rem 0 0 0.9rem; border-radius: 0.16rem; background: url(../images/new-infoBg.png?lxhcVersion=1.0) no-repeat; background-size: 100% 3.4rem; box-shadow: 0px 0.1rem 0.16rem 0px rgba(0, 0, 0, 0.2);}
.eui-idCard h3{line-height: 1.03rem; padding-left: 1.16rem; font-size: 0.5rem; color: #fff; background: url(../images/logo.png?lxhcVersion=1.0) no-repeat left; background-size: 1.12rem 1.03rem;}
.eui-idCard h3 a.hidden{display: inline-block; width: 0.5rem; height: 0.29rem; margin-left: 0.38rem; background: url(../images/new-icon1.png?lxhcVersion=1.0) no-repeat; background-size: 0.5rem 0.29rem;}
.eui-idCard h3 a.on{background: url(../images/new-icon2.png?lxhcVersion=1.0) no-repeat; background-size: 0.5rem 0.29rem;}
.eui-idCard p{font-size: 0.4rem; line-height: 0.65rem; color: #fff; margin: 0; padding-left: 0.2rem;}
.eui-idCard .share{position: absolute; top: 0.28rem; right: -0.08rem; display: block; width: 2.41rem; height: 0.78rem; line-height: 0.72rem; padding-top: 0.06rem; font-size: 0.32rem; color: #fff; text-align: center; background: url(../images/new-infoa.png?lxhcVersion=1.0) no-repeat; background-size: 2.41rem 0.78rem;}
.eui-wemMain{position: relative; top: -0.3rem; margin: 0 0.54rem; padding-bottom: 0.2rem; background: url(../images/new-ewmBg.png?lxhcVersion=1.0) no-repeat; background-size: 100% 100%;}
.eui-wemMain .wem{padding-top: 0.3rem; text-align: center;}
.tp174{padding-top: 1.74rem;}
.eui-wemMain .nowem{width: 200px; height: 200px; line-height: 200px; margin: 0 auto; text-align: center; background: url(../images/ewm-bg.png?lxhcVersion=1.0) no-repeat; background-size: 200px;}
.eui-wemMain .nowem a{display: inline-block; height: 0.9rem; line-height: 0.9rem; padding: 0 0.42rem; font-size: 0.42rem; border-radius: 0.9rem; color: #fff; background: #016eff;}
.eui-wemMain .wem p{font-size: 0.36rem; color: #999; line-height: 0.8rem;}
.eui-wemMain p{text-align: center; font-size: 0.34rem; line-height: 0.5rem; color: #bbb; margin: 0.1rem 0.4rem;}
.eui-wemMain .wem h4{font-size: 0.4rem; font-weight: 400; color: #323232; line-height: 0.82rem; margin: 0;}
.eui-wemMain .wem h4 b.red{color: #ff0101;}
.eui-wemMain .wem h4 b.green{colo r: #00736a;}
.eui-wemMain .wem h3{font-size: 0.65rem; color: #323232; line-height: 0.95rem; margin: 0;}
.eui-wemMain .wem .wemImg{width: 200px; height: 200px; margin: 0 auto 0;}
.eui-wemMain .wem .refresh{display: inline-block; font-size: 0.38rem; height: 0.5rem; line-height: 0.5rem; color: #999; padding-left: 0.55rem; margin: 0.2rem 0; background: url(../images/icon.png?lxhcVersion=1.0) no-repeat left; background-size: 0.41rem;}
.eui-wemMain .wem .refresh span{color: #016eff;}
.eui-kslk{font-size: 0; text-align: center; color: #016eff; line-height: 0.8rem;}
.eui-kslk a{display: inline-block; position: relative; font-size: 0.38rem; font-weight: bold; color: #016eff; margin: 0 0.3rem;}
.eui-kslk a::before{content: "|"; position: absolute; left: calc(-0.3rem - 1px); width: 1px; color: #016eff; font-weight: 400;}
.eui-kslk a:first-child::before{content: '';}
.eui-mybtn{display: block; position: relative; margin: 0 0.8rem; height: 1.12rem; line-height: 1.12rem; font-size: 0.4rem; font-weight: bold; color: #016eff; padding: 0 0.52rem; border-radius: 0.1rem; background: #fff;}
.eui-mybtn.mui-navigate-right:after{color: #016eff;}
.eui-mybtn:active{opacity: 0.8;}
.eui-footTxt{position: absolute; bottom: 0.3rem; width: 100%; text-align: center;}
.eui-footTxt p{font-size: 0.34rem; line-height: 0.52rem; color: rgba(255,255,255,.5); margin: 0;}
.eui-hsjc{display: inline-block; line-height: 0.62rem; padding: 0 0.2rem; margin-bottom: 0.2rem; color: #016eff; font-size: 0.32rem; background: #d3e1ff;}
.eui-fBtn{display: flex; display: -webkit-flex; justify-content: space-between; -webkit-justify-content: space-between; margin: 0 0.74rem;}
.eui-fBtn .eui-mybtn{width: 4.7rem; margin: 0 0.1rem; padding-right: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


/* 新加样式 */
.eui-newbodyBg{background: linear-gradient(to right, #0b68f7 0%,#283dc5 100%);}
.eui-newbodyBg::after{content: ''; position: absolute; bottom: 0; left: 0; display: block; width: 100%; height: 4.06rem; background: url(../images/n-yz.png?lxhcVersion=1.0) no-repeat bottom; background-size: 100% 4.06rem;}
.eui-NCard{position: relative; height: auto; padding: 0.26rem 0.54rem 0.56rem; background: url(../images/n-cardBb.png?lxhcVersion=1.0) no-repeat; background-size: 100% 100%;}
.eui-NCard h3{line-height: 1.08rem; font-size: 0.5rem; color: #fff; margin: 0 2rem 0.1rem 0;}
.eui-NCard h3 .icon{float: left; width: 1.18rem; height: 1.08rem;}
.eui-NCard h3 .icon1{width: 1.21rem; height: 0.56rem; vertical-align: middle;}
.eui-NCard h3 span{margin-left: 0.36rem;}
.eui-NCard h3 a.hidden{display: inline-block; width: 0.5rem; height: 0.29rem; margin-left: 0.38rem; background: url(../images/new-icon1.png?lxhcVersion=1.0) no-repeat; background-size: 0.5rem 0.29rem;}
.eui-NCard h3 a.on{background: url(../images/new-icon2.png?lxhcVersion=1.0) no-repeat; background-size: 0.5rem 0.29rem;}
.eui-NCard p{font-size: 0.36rem; line-height: 0.6rem; color: #fff; margin: 0; padding-left: 0.2rem;}
.eui-NCard .share{position: absolute; top: 0.4rem; right: 0; display: block; width: 2.4rem; height: 0.75rem; line-height: 0.75rem; font-size: 0.32rem; color: #fff; text-align: center; background: url(../images/n-infoa.png?lxhcVersion=1.0) no-repeat; background-size: 2.4rem 0.75rem;}
.eui-wemMain .wem h5{font-size: 0.48rem; font-weight: bold; color: #323232; line-height: 0.72rem; margin: 0;}
.eui-wemMain .txm{margin: 0.3rem 0 0 0;}
.eui-wemMain .txm p{margin: 0; font-size: 0.38rem; line-height: 0.8rem; color: #999;}
.eui-note{margin: 0.4rem 0.85rem;}
.eui-note li{font-size: 0.28rem; color: #fff; line-height: 0.48rem; text-align: justify;}
.eui-copyrigh{position: absolute; bottom: 0; left: 0; width: 100%; padding: 0.2rem;}
.eui-copyrigh p{text-align: center; line-height: 0.5rem; color: #fff; margin: 0; font-size: 0.28rem;}

/* 结算页面 */
.eui-jsresult{position: absolute; top: 50%; left: 50%; text-align: center; transform: translate(-50%,-50%);}
.eui-jsresult .icon{width: 3.14rem; height: 2.81rem; margin: 0 auto 0.5rem;}
.eui-jsresult p{font-size: 0.38rem; color: #023232; line-height: 0.72rem;}
.eui-jsresult a{display: inline-block; width: 2.35rem; height: 0.84rem; line-height: 0.84rem; margin-top: 0.3rem; font-size: 0.32rem; color: #016eff; border: 0.02rem solid #016eff; background: #fff; border-radius: 0.84rem;}
.eui-jsresult a:active{color: #fff; background: #016eff;}

/* 信息授权页面 */
.eui-impower{position: relative; top: -0.7rem; margin: 0 0.42rem; padding: 0.6rem 0.42rem; background: #fff; border-radius: 0.2rem;}
.eui-impower .logo{position: relative; top: -1.58rem; display: block; width: 2.51rem; height: 2.51rem; margin: 0 auto -1.16rem;}
.eui-impower .tip{font-size: 0.36rem; line-height: 0.6rem; color: #494949; margin-bottom: 0.9rem;}
.eui-impower .tip b{color: #016eff; font-weight: 400;}
.eui-impidCard{width: 100%; height: 4.63rem; padding: 1.02rem 0 0 0.98rem; background: url(../images/idCard-bg.png?lxhcVersion=1.0) no-repeat; background-size: 100% 4.63rem;}
.eui-impidCard ul li{position: relative; padding-left: 2.7rem; line-height: 0.35rem; margin-bottom: 0.8rem; color: #494949;}
.eui-impidCard ul li:last-child{margin: 0;}
.eui-impidCard ul li span{position: absolute; left: 0px; display: inline-block; height: 0.35rem; line-height: 0.35rem; padding: 0 0.2rem; font-size: 0.32rem; background: #f0f6ff;}
.eui-impidCard ul li b{font-size: 0.36rem; font-weight: 400;}
.eui-impCheckbox{margin: 0.8rem 0;}
.eui-impCheckbox.mui-left label{width: auto; font-size: 0.36rem; color: #494949; line-height: 1px; padding-left: 34px; padding-right: 0;}
.eui-impCheckbox.mui-left input[type=checkbox]{left: 0; top: 0;}
.eui-impCheckbox.mui-checkbox input[type=checkbox]:before{font-size: 24px;}
.eui-impCheckbox.mui-left a{font-size: 0.36rem; color: #016eff; line-height: 0.6rem;}

/* 按钮 */
.eui-btn{display: block; width: 100%; height: 1.1rem; line-height: 1.1rem; font-size: 0.4rem; text-align: center; color: #fff; border-radius: 1.1rem; background: #016eff;}
.eui-btn:active{color: #fff; opacity: 0.8;}
.eui-btnTxt{display: block; width: 100%; height: 1.1rem; line-height: 1.1rem; font-size: 0.4rem; text-align: center; color: #494949;}
/* 医保弹出框 */
.eui-popYb{position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: none; background: #fff; z-index: 100;}
.eui-popYb .main{position: absolute; top: 50%; left: 50%; width: 416px; transform: translate(-50%,-50%); }
.eui-popYb .main .rotate90{ transform:rotate(90deg);}
.eui-popYb .main p{display: inline-block; font-size: 0.42rem; color: #016eff; padding-left: 0.56rem; background: url(../images/pop-icon.png?lxhcVersion=1.0) no-repeat left; background-size: 0.46rem;}

/* 切换健康码页面样式 */
.eui-title b{flex: none;}
.eui-title span{font-size: 0.36rem; color: #999; margin-left: 0.2rem; line-height: 0.48rem;}
.eui-jkmCard{margin: 0 0.42rem;}
.eui-jkmCard li{position: relative; display: flex; align-items: center; height: 1.92rem; color: #fff; padding: 0 0.2rem 0 1.5rem; margin-bottom: 0.3rem; font-weight: bold; font-size: 0.4rem; background: url(../images/logo.png) no-repeat 0.3rem #016eff; background-size: 1.2rem; border-radius: 0.15rem 0.15rem 0 0;}
.eui-jkmCard li h3{flex: 1; font-size: 0.4rem;}
.eui-jkmCard li span{position: relative; font-weight: 400; line-height: 1.92rem;}
.eui-jkmCard li span.mui-navigate-right{padding-right: 0.4rem; padding-left: 0.2rem;}
.eui-jkmCard li span.mui-navigate-right:after{right: 0; color: #fff; font-weight: 400;}
.eui-jkmCard li:last-child{margin-bottom: 0;}
.eui-jkmCard li:active{opacity: 0.8;}